<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="../src/bootstrap/css/bootstrap.min.css" />
</head>

<body>
    <button class="btn btn-success">Comprar</button>

    <script type="module">
        import { Storage } from "../src/js/localStorage.js";

        const storage = new Storage();

        console.log(storage.getCarrinho());
        console.log(storage.getProdutoById(5))

        storage.addProdutoCarrinho(5);

        console.log(storage.getCarrinho());
    </script>
</body>

</html>